<% content_for :body do %>
<div class="row">
  <div class="col-lg-offset-2">
    <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <%= f.label :name, "Name", class: "col-md-2 control-label" %>
      <div class="col-md-6">
        <%= f.text_field :name, class: "form-control", placeholder: "Enter user name" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email", class: "col-md-2 control-label" %>
      <div class="col-md-6">
        <%= f.text_field :email, class: "form-control", placeholder: "Enter user email" ,id: "email", onchange: "checkEmail()" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :phone, "phone", class: "col-md-2 control-label" %>
      <div class="col-md-6">
        <%= f.text_field :phone, class: "form-control", placeholder: "Enter user phone" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password", class: "col-md-2 control-label" %>
      <div class="col-md-6">
        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Password Confirmation", class: "col-md-2 control-label" %>
      <div class="col-md-6">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password confirmation" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-4">
        <%= f.submit "Register", class: "btn btn-success" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
<script type="text/javascript"> 
  function checkEmail() { 
    var email = document.getElementById('email'); 
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/; 
    if (!filter.test(email.value)) { 
     alert('Hay nhap dia chi email hop le.\nExample@gmail.com');
     email.focus; 
     return false; 
   }
   else{ 
     alert('OK roi day, Email nay hop le.'); 
   } 
 } 
</script>
