<!DOCTYPE html>
<html>
<head>
	<title>Cutyremon/<%= yield(:title) %></title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= render 'layouts/shim' %>

</head>

<body>
<div class = "container" style="margin-top: 58px;">
		<%= render 'layouts/header' %>

	</div>
	<div class="container">
		<%= yield(:body) %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
